:root{
	--mainColor:#000000;
	--secondaryColor:#171a1d;

	--borderColor:#195963;

	--mainText:#b6b6b6;
	--secondaryText:#eeeeee;

	--themeDotBorder:#323232;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;

}

.onoff label {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: #006cefc6;
	border-radius: 5px;
	color: #FFF;
	-webkit-transition: background 0.3s, text-indent 0.3s;
	-moz-transition: background 0.3s, text-indent 0.3s;
	-o-transition: background 0.3s, text-indent 0.3s;
	transition: background 0.3s, text-indent 0.3s;
	text-indent: 27px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}

#skills {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	background-color: rgba(255, 255, 255, 0.769);
}

.list_skill li{
    color: black;
    text-shadow: 5px 5px 20px white !important;
}